@model TechBlogWebsite.Models.menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="container">
    <h2 class="text-center mt-4">Details</h2>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Menu Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.name)</dd>

                <dt class="col-sm-3">Link:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.link)</dd>

                <dt class="col-sm-3">Meta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.meta)</dd>

                <dt class="col-sm-3">Hide:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.hide)</dd>

                <dt class="col-sm-3">Order:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.order)</dd>

                <dt class="col-sm-3">Date Begin:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.datebegin)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-4">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Table", "Default", null, new { @class = "btn btn-secondary" })

    </div>
</div>
