@model TechBlogWebsite.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">User Details</h2>
                    <dl class="row">
                        <dt class="col-sm-4">Username:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Username)</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">First Name:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                        <dt class="col-sm-4">Last Name:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-4">Avatar:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Avatar)</dd>

                        <dt class="col-sm-4">Bio:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Bio)</dd>

                        <dt class="col-sm-4">Active:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.IsActive)</dd>

                        <dt class="col-sm-4">Link:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Link)</dd>

                        <dt class="col-sm-4">Meta:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Meta)</dd>

                        <dt class="col-sm-4">Hide:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Hide)</dd>

                        <dt class="col-sm-4">Order:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Order)</dd>

                        <dt class="col-sm-4">Date Begin:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DateBegin)</dd>

                        <dt class="col-sm-4">Role:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Role.Name)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary ml-2" })
        </div>
    </div>
</div>
