@model IEnumerable<TechBlogWebsite.Models.Post>

<style>
    .fix-img {
        width: 800px;
        height: 265px;
    }

    .fix-content {
        max-height: 27%; /* Đặt chiều cao tối đa của phần tử */
        overflow: hidden; /* Ẩn phần dư thừa */
        text-overflow: ellipsis; /* Hiển thị dấu chấm elip khi có nội dung bị cắt bớt */
        white-space: nowrap;
    }
</style>

@foreach (var i in Model)
{
    <div class="blog-box row">
        <div class="col-md-4">
            <div class="post-media">
                <a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">
                    <img src="~/Content/upload/@i.FeaturedImage" alt="" class="img-fluid">
                    <div class="hovereffect"></div>
                </a>
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="blog-meta big-meta col-md-8">
            <h4><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">@i.Title</a></h4>
            <p class="fix-content">@i.Content</p>
            <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">@i.Category.Name</a></small>
            <small><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">@i.PublishedDate</a></small>
            <small><a href="/Author/@(i.User.Meta + "-" + i.User.UserID)" title="">by @i.User.Username</a></small>
            <small><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title=""><i class="fa fa-eye"></i> @i.ViewCount</a></small>
        </div><!-- end meta -->
    </div><!-- end blog-box -->

    <hr class="invis">
}