@model IEnumerable<TechBlogWebsite.Models.menu>

<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        @foreach (var menu in Model)
        {
            if (menu.SubMenus != null && menu.SubMenus.Any())
            {
                <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown@(menu.ID)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@menu.name</a>
                    <ul class="dropdown-menu megamenu" aria-labelledby="dropdown@(menu.ID)">
                        <li>
                            <div class="container">
                                <div class="mega-menu-content clearfix">
                                    <div class="tab">
                                        @foreach (var subMenu in menu.SubMenus)
                                        {
                                            <button class="tablinks @(subMenu == menu.SubMenus.First() ? "active" : "")" onclick="openCategory(event, 'cat@(subMenu.name)')">@subMenu.meta</button>
                                        }
                                    </div>

                                    <div class="tab-details clearfix" style="background-color: #edeff2;">
                                        @foreach (var subMenu in menu.SubMenus)
                                        {
                                            <div id="cat@(subMenu.name)" class="tabcontent @(subMenu == menu.SubMenus.First() ? "active" : "")" style="background-color: #fff;">
                                                <!-- Render action based on submenu meta -->
                                                @{Html.RenderAction($"GetPopularPostsOf{subMenu.name}", "Temp");}
                                            </div>  
                                        }
                                    </div><!-- end tab-details -->
                                </div><!-- end mega-menu-content -->
                            </div>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/@menu.meta">@menu.name</a>
                </li>
            }
        }
    </ul>

    <div class="card-body">
        @if (Session["FullName"] != null)
        {
            <div class="user-info">
                <div class="d-flex align-items-center">
                    @if (Session["AvatarUrl"] != null)
                    {
                        <img src="@Session["AvatarUrl"].ToString()" alt="Avatar" class="avatar mr-2 rounded-circle" width="50" height="50">
                    }
                    else
                    {
                        <!-- Sử dụng avatar mặc định tại đây -->
                        <img src="~/Content/upload/img_user1.jpg" alt="Default Avatar" class="avatar mr-2 rounded-circle" width="30" height="30">
                    }
                    <p class="text-white mb-0">Welcome, <strong>@Session["FullName"].ToString()</strong></p>
                </div>
                <a href="@Url.Action("Logout", "Account")" class="btn btn-warning">Logout</a>
            </div>
        }
        else
        {
            <ul class="navbar-nav mr-2">
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus"></i> Sign up</a>
                </li>
            </ul>
        }
    </div>
</div>
<script>
    function openCategory(evt, categoryName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(categoryName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>