@model IEnumerable<TechBlogWebsite.Models.Post>
@foreach (var i in Model)
{
    <div class="blog-box row">
        <div class="col-md-4">
            <div class="post-media">
                <a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">
                    <img src="/Content/upload/@i.FeaturedImage" alt="" class="img-fluid">
                    <div class="hovereffect"></div>
                </a>
            </div><!-- end media -->
        </div><!-- end col -->

        <div class="blog-meta big-meta col-md-8" style="height: 300px;">
            <h4><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)">@i.Title</a></h4>
            <p class="content-for-recent-new" style="max-height: 27%; overflow: hidden ">@i.Content</p>
            <small class="firstsmall"><a class="bg-orange" href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">@i.Category.Name</a></small>
            <small><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title="">@i.PublishedDate</a></small>
            <small><a href="tech-author.html" title="">@i.User.Username</a></small>
            <small><a href="/blog/@i.Category.Name/@(i.Meta + "-" + i.PostID)" title=""><i class="fa fa-eye"></i> @i.ViewCount</a></small>
        </div><!-- end meta -->
    </div>
    <hr class="invis">
}
<!-- end blog-box -->
