@model TechBlogWebsite.Models.SubMenu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="container py-5 text-center" style="background-color: #fff7d6;">
    <h2 class="text-dark font-weight-bold">CREATE SUBMENU</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.link, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter link" } })
                        @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter meta" } })
                        @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.hide, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.hide)
                            Hide
                            @Html.ValidationMessageFor(model => model.hide, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.order, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter order" } })
                        @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.datebegin, htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.datebegin, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter date" } })
                        @Html.ValidationMessageFor(model => model.datebegin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ID, "ID", htmlAttributes: new { @class = "control-label text-primary font-weight-bold" })
                    <div class="col-md-10">
                        @Html.DropDownList("ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="container text-center">
    @Html.ActionLink("Back to List", "Index")
</div>

@section _Footer
{
    <script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Title").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create = text.replace(/à|á|ạ|à|ã|â|â|â|â|â|â|ă|à|å|ặ|å|ã|ả|ẹ|é|è|ý|ỳ|ỵ|í|ì|i/g, "a").replace(/\ /g, '-').replace(/đ /g, "d");
                $('#Meta').val(text_create);
            }).keyup();

            CKEDITOR.replace("txtContent");
            CKEDITOR.replace("txtContent", { height: '600px' });
            CKEDITOR.config.customConfig = '/Areas/admin/Content/ckeditor/config.js';
        });
    </script>
}
